RewriteEngine On
RewriteBase /lucy/

# If the request is for a valid directory, let it go
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# If the request is for a valid file, let it go
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Otherwise, try adding .php
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

ErrorDocument 404 /lucy/404.php
